<h1>Here is a list of Jobs</h1>

<ul> 
  <% @Jobs.each do |t| %>
      <li><%= t.description %></li>
      <a href = '/jobs/<%= t.id %>/edit'>Edit</a>
        <%= link_to 'Delete',  t,  method: :delete %>
  <% end %>
</ul>

