<h1 style = 'text-align:center;'>These are all the Spaceships in the Universe!</h1>

<div class = 'container allspaceships'>
  <% @Spaceships.each do |t| %>
  <h3>
    <a class = 'links' href = '/spaceships/<%= t.id %>show'><%= t.name %></a>
  </h3>
  <%end%>
</div>
