// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.joblists{
  text-align: center;
  border: 1px solid black;
  padding-top: 50px;
  padding-bottom: 50px;

}

.createjob{
  text-align: center;
  padding: 50px;
  border: 1px solid black;
}
