// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html{
  overflow: hidden;
  margin: 0;
  height: 100%;
}
#usrname{
  text-align: left;
}

#fleet{
  text-align: left;
  padding-left: 100px;

}
#fleetlist{
  text-align: center;
  border: 1px solid black;
  box-shadow: 10px;
  position: absolute;
    overflow-y: scroll;
  height: 50%;
  left: 100px;
}
.userlist {
  display:inline;

}

.logout {
  list-style: none;
}

.links{
  color: black;


}

.userlink{
  float: right;

}

#createadd {
  float:right;
  padding-right: 250px;
}

.login {
  text-align: center;
  padding-top: 50px;
}
.signup{
  text-align:center;
  padding-top: 50px;
}
